<div class="row page-titles mx-0">
    <div class="col-sm-6">
        <div class="welcome-text">
            <h4><%= titulo %></h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <form method="POST">

                    <div class="form-group">
                        <label>Nome</label>

                        <input
                            type="text"
                            name="nome"
                            class="form-control"
                            value="<%= typeof fornecedor !== 'undefined' ? fornecedor.nome : '' %>"
                            required
                        >
                    </div>

                    <div class="form-group">
                        <label>Status</label>

                        <select
                            name="ativo"
                            class="form-control"
                        >
                        <option
                        value="1"
                        <%= typeof fornecedor !== 'undefined' && fornecedor.ativo ? 'selected' : '' %>
                    >
                        Sim
                    </option>
                    
                    <option
                        value="0"
                        <%= typeof fornecedor !== 'undefined' && !fornecedor.ativo ? 'selected' : '' %>
                    >
                        Não
                    </option>
                        </select>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary">
                        Salvar
                    </button>

                    <a
                        href="/fornecedores"
                        class="btn btn-secondary">
                        Cancelar
                    </a>

                </form>

            </div>
        </div>
    </div>
</div>