
<h1><%= titulo %></h1>

<p>

O Sistema Web de Gerenciamento de Matrícula foi desenvolvido com o objetivo de modernizar e automatizar o processo de cadastro, 
acompanhamento e evolução de alunos de música. A plataforma permite que o professor realize o gerenciamento completo das informações 
dos alunos de forma digital, substituindo os registros manuais feitos em cadernos físicos. O sistema possibilita o cadastro de dados pessoais, 
controle do nível musical dos alunos, registro de avaliações, atualização automática de progressão de nível e emissão de fichas de aprovação. 
Além disso, a aplicação oferece maior organização, segurança e praticidade no acesso às informações, tornando o processo de acompanhamento pedagógico mais eficiente e confiável. 

Autor: Natália Fernandes
</p>
