<div class="row">
    <div class="col-12 text-center my-4">
        <img src="/images/Inicio-removebg-preview.png" alt="Sistema de Gerenciamento de Alunos" class="img-fluid "
            style="max-width: 600px;">
    </div>
</div>