<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menu Principal</li>
            <li>
                <a href="/" aria-expanded="false">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">Inicial</span>
                </a>
            </li>
            <li>
                <a href="/alunos" aria-expanded="false">
                    <i class="icon icon-globe-2"></i>
                    <span class="nav-text">Alunos</span>
                </a>
            </li>
            <li>
                <a href="/avaliacoes" aria-expanded="false">
                    <i class="icon icon-globe-2"></i>
                    <span class="nav-text">Avaliação</span>
                </a>
            </li>
            <li>
                <a href="/sobre" aria-expanded="false">
                    <i class="icon icon-globe-2"></i>
                    <span class="nav-text">Sobre</span>
                </a>
            </li>
        </ul>
    </div>


</div>