<div class="row page-titles mx-0">
    <div class="col-sm-6">
        <div class="welcome-text">
            <h4><%= titulo %></h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4>
                    Deseja realmente excluir o avaliacao
                    "<%= avaliacao.nomeMusica %>"?
                </h4>

                <form method="POST">

                    <button
                        type="submit"
                        class="btn btn-danger">
                        Excluir
                    </button>

                    <a
                        href="/avaliacoes"
                        class="btn btn-secondary">
                        Cancelar
                    </a>

                </form>

            </div>
        </div>
    </div>
</div>